 .u-section-1 {
  background-image: url("images/Home.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }
} .u-section-2 {
  background-image: url("images/RSVP1.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }
} .u-section-3 {
  background-image: url("images/RSVP21.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 774px;
}

.u-section-3 .u-countdown-1 {
  margin: 373px auto 60px;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-countdown-1 {
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: url("images/WeddingDetails1.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 774px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.9375rem;
    margin: 596px auto 60px;
    padding: 7px 26px 8px 25px;
  }
} .u-section-5 {
  background-image: url("images/WeddingDetails21.gif");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 774px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

.u-section-5 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.9375rem;
    margin: 530px auto 60px;
    padding: 7px 26px 8px 25px;
  }
} .u-section-6 {
  background-image: url("images/RSVP31.gif");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 774px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
}

.u-section-6 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.9375rem;
    margin: 693px auto 58px;
    padding: 7px 26px 8px 25px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 4px;
  }
}position: fixed;